
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Settings</h2>
<a href="#ProductTabs" data-toggle="collapse">Product Tabs</a>
<div id="ProductTabs" class="collapse">
    This div (Foo) is hidden by default
</div>


