<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/> 
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="CashRegister.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="CashRegisterContext" connectionString="data source=(localdb)\ProjectsV12;initial catalog=CashRegister.Db;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<userSettings>
        <CashRegister.GUI.Properties.Settings>
                <setting name="Name" serializeAs="String">
                        <value/>
                </setting>
                <setting name="Address" serializeAs="String">
                        <value/>
                </setting>
                <setting name="Postal" serializeAs="String">
                        <value/>
                </setting>
                <setting name="City" serializeAs="String">
                        <value/>
                </setting>
                <setting name="CallUpgrade" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="DataSource" serializeAs="String">
                        <value/>
                </setting>
                <setting name="InitialCatalog" serializeAs="String">
                        <value/>
                </setting>
                <setting name="UserId" serializeAs="String">
                        <value/>
                </setting>
                <setting name="Password" serializeAs="String">
                        <value/>
                </setting>
        </CashRegister.GUI.Properties.Settings>
    </userSettings>
</configuration>
